.location-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.location-list-item {
  padding: 20px;
  cursor: pointer;
  background: white;
  display: flex;
  border-bottom: 1px solid #ddd;
}